/* .home-box {
  text-align: center;
  padding: 40px 20px;
}

.home-img {
  width: 60%;
  max-width: 550px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.home-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
}

.home-text {
  font-size: 1.2rem;
  color: #444;
  max-width: 700px;
  margin: 10px auto;
} */


.carousel-img {
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-caption h3 {
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
}

.carousel-caption p {
  font-size: 1.1rem;
  text-shadow: 2px 2px 8px #000;
}
